
@font-face {
    font-family: 'Miller Italic';
    src: url('../fonts/miller-italic-webfont.eot');
    src: url('../fonts/miller-italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/miller-italic-webfont.woff2') format('woff2'),
    url('../fonts/miller-italic-webfont.woff') format('woff'),
    url('../fonts/miller-italic-webfont.ttf') format('truetype'),
    url('../fonts/miller-italic-webfont.svg#milleritalic') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Circular Regular';
    src: url('../fonts/circular-book-webfont.eot');
    src: url('../fonts/circular-book-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/circular-book-webfont.woff2') format('woff2'),
    url('../fonts/circular-book-webfont.woff') format('woff'),
    url('../fonts/circular-book-webfont.ttf') format('truetype'),
    url('../fonts/circular-book-webfont.svg#circularbookbook') format('svg');
    font-weight: normal;
    font-style: normal;

}



/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

body {
    color: #000;
}

html, html a {
    -webkit-font-smoothing: antialiased !important;
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #000000;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

header {
    padding: 30px;
    position: relative;
}

header a {
    color: #000000;
}

.brand {
    font-family: "Circular Regular", sans-serif;
    font-size: 36px;
    line-height: 30px;
}

.menu ul {
    position: absolute;
    right: 30px;
    top: 30px;
    list-style: none;
    transition: all .2s ease-in-out;
}

.menu ul li {
    font-family: "Circular Regular", sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    display: inline;
    margin-left: 10px;
}

.menu ul li a {
    color: #999999;
    transition: all 0.3s ease-in-out 0s;
}

.menu ul li a:hover {
    text-decoration: none;
    color: #000;
}

.menu ul li a.active {
    color: #000;
}

body.category-identity .menu ul li a.identity {
    color: #000;
}


body.category-posters .menu ul li a.posters {
    color: #000;
}


body.category-design .menu ul li a.design {
    color: #000;
}

section#home {
    padding: 30px;
    padding-top: 50px;
}

section#home .column-1 {
    font-family: "Circular Regular", sans-serif;
    font-size: 16px;
    line-height: 20px;
    width: 320px;
    float: left;
}

section#home .column-2 {
    font-family: "Miller Italic", sans-serif;
    font-size: 16px;
    line-height: 20px;
    float: left;
    margin-top: 60px;
    margin-left: 40px;
    color: #9f9f9f;
}

section#home .column-2 p {
    float: left;
}

section#home .column-2 p:last-child {
    margin-left: 40px;
}

section#home .column-2 a {
    color: #9f9f9f;
    transition: all 0.3s ease-in-out 0s;
}

section#home .column-2 a:hover {
    text-decoration: none;
    color: #000000;
}



.image-home {
    margin-top: 50px;
}

.image-home img {
    width: 100%;
    height: auto;
}


section#portfolio {
    margin-top: 50px;
}

section#portfolio-detail {
    margin-top: 50px;
}

section#portfolio-detail .image-portfolio img {
    max-width: 100%;
    height: auto;
    margin-bottom: 30px;
}

section#portfolio-detail .info-portfolio {
    font-family: "Circular Regular", sans-serif;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 30px;
    margin-top: 65px;
}

section#portfolio-detail .info-portfolio a {
    font-family: "Circular Regular", sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #000;
}

section#portfolio-detail .share {
    font-family: "Miller Italic", sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #9f9f9f;
}

section#portfolio-detail .share a {
    color: #9f9f9f;
    transition: all 0.3s ease-in-out 0s;
}

section#portfolio-detail .share a:hover {
    text-decoration: none;
    color: #000;
}


section#portfolio-detail .share span {
    font-family: "Circular Regular", sans-serif;
    font-size: 9px;
    line-height: 20px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 10px;
    display: block;
}

.nav-item {
    height: 53px;
}
.nav-item .left {
    background: url('../img/left.png') center center;
    width: 30px;
    height: 53px;
    display: block;
    float: right;
    margin-bottom: 15px;
}

.nav-item .right {
    background: url('../img/right.png') center center;
    width: 30px;
    height: 53px;
    display: block;
    margin-left: 50px;
    margin-bottom: 15px;
    float: right;
}

.toggleMenu, .nav-menu-mobile {
    display: none;
}


/*--------------- PHONE --------------------------*/
@media(max-width:767px) {

    .menu {
        display: none;
    }

    section#home .column-2 {
        margin-top: 40px;
        margin-left: 0px;
        width: 100%;
    }

    .brand {
        margin-bottom: 30px;
    }
    .menu-mobile {
        position: absolute;
        top: 35px;
        right: 30px;
        display: block;
        width: 30px;
        height: 19px;
        background: url('../img/menu.png') center center;
        background-size: 30px 19px;
        cursor: pointer;
    }

    .nav-menu-mobile {
        display: none;
    }
    .nav-menu-mobile ul {
        text-align: center;
        list-style: none;
        border-top: 1px solid #000;
        padding: 0;
        margin: 0;
    }

    .nav-menu-mobile li {
        font-family: "Circular Regular", sans-serif;
        font-size: 16px;
        line-height: 40px;
        color: #000;
        margin-left: 10px;
        border-bottom: 1px solid #999;
        padding: 0;
        margin: 0;
    }

    .nav-menu-mobile ul li a {
        color: #999999;
        transition: all 0.3s ease-in-out 0s;
    }

    .nav-menu-mobile ul li a:hover {
        text-decoration: none;
        color: #9f9f9f;
    }

    .nav-menu-mobile ul li a.active {
        color: #000;
    }


    body.category-identity .nav-menu-mobile ul li a.identity {
        color: #000;
    }


    body.category-posters .nav-menu-mobile ul li a.posters {
        color: #000;
    }


    body.category-design .nav-menu-mobile ul li a.design {
        color: #000;
    }


}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
